body {
    font-family: 'Roboto', sans-serif;
    background: #000000;
}

#login {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.email input {
    border-radius: 15px;
    width: 300px;
    height: 50px;
    padding-left: 15px;
    margin-top: 400px;
    margin-left: -400px;
}

.senha input {
    border-radius: 15px;
    width: 300px;
    height: 50px;
    padding-left: 15px;
    margin-top: 15px;
    margin-left: -400px;
}

.entrar input {
    cursor: pointer;
    width: 140px;
    height: 50px;
    border-radius: 20px;
    background-color: rgb(134, 243, 134);
    margin-top: 15px;
    margin-left: -400px;
}

.mensagem-direcionamento {
    width: 400px;
    height: 50px;
    border-radius: 10px;
    background-color: rgb(242, 250, 242);
    margin-top: 830px;
    margin-left: -400px;
}

.imagem-logo {
    margin-top: -300px;
    margin-left: -100px;
    border-radius: 15px;
}

input::placeholder {
    color: #b6b6b6;
}

h1 {
    color: #FAFAFA;
}

.caixa {
    margin-top: 65px;
}

.caixa img {
    width: 115px;
}

input:focus {
    outline: none;
}
