body {
    font-family: 'Roboto', sans-serif;
    background: #000000;
}

.direcionamento-cronômetro,
.direcionamento-materiais {
    width: 400px;
    height: 200px;
    border-radius: 10px;
    background-color: #cad43a;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
}
