/* * {
  font-family: "Roboto", sans-serif;
}

body {
  height: 100vh !important;
}

#stopwatch {
  display: flex;
  flex-direction: column;
  background-color: #cad43a;
  padding: 2rem;
  border-radius: 8px;
  border: 3px solid #000000;
}

#timer {
  background-color: #000000;
  height: 250px;
  width: 250px;
  border: 3px solid #ffffff;
  margin-bottom: 1.5rem;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 30px;
  color: #ffffff;
  padding: 4rem;
}

#actions {
  display: flex;
  gap: 0.5rem;
}

#actions button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40px;
  padding: 0.6rem;
  font-size: 1rem;
  border-radius: 4px;
  border: none;
  color: #262626;
  background-color: #e0e7ff;
  transition: background-color 0.2s ease-in;
  cursor: pointer;
}

#actions button:hover {
  background-color: #c4b5fd;
}

#marks-list {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  color: #ffffff;
}

#marks-list p:first-child {
  margin-top: 1.5rem;
} */

.entrar input {
  cursor: pointer;
  width: 120px;
  height: 40px;
  border-radius: 20px;
  border: none;
  background-color: rgb(134, 243, 134);
  color: #141414;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: linear-gradient(180deg, #000000, #cad43a);
}

#stopwatch {
  display: flex;
  flex-direction: column;
  background-color: #cad43a;
  padding: 2rem;
  border-radius: 8px;
  border: 3px solid #000000;
}

#timer {
  background-color: #000000;
  height: 250px;
  width: 250px;
  border: 3px solid #ffffff;
  margin-bottom: 1.5rem;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 30px;
  color: #ffffff;
  padding: 4rem;
}

#actions {
  display: flex;
  gap: 0.5rem;
}

#actions button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40px;
  padding: 0.6rem;
  font-size: 1rem;
  border-radius: 4px;
  border: none;
  color: #262626;
  background-color: #e0e7ff;
  transition: background-color 0.2s ease-in;
  cursor: pointer;
}

#actions button:hover {
  background-color: #c4b5fd;
}

#marks-list {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  color: #ffffff;
}

#marks-list p:first-child {
  margin-top: 1.5rem;
}

.caixa input {
  cursor: pointer;
  width: 215px;
  height: 40px;
  border-radius: 20px;
  background-color: #ffffff;
  margin-top: auto;
  margin-left: auto;
  padding-left: 15px;
}
