* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #000000, #cad43a);
}

.mensagem-direcionamento {
  width: 400px;
  height: 50px;
  border-radius: 10px;
  background-color: rgb(242, 250, 242);
  margin-top: 830px;
  margin-left: -400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#logout-button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 15px 5px 15px;
  background-color: #cad43a;
  border-radius: 5px;
  cursor: pointer;
  width: 4rem;
}

.imagem-logo {
  margin-top: -300px;
  margin-left: -100px;
  border-radius: 15px;
}
